<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/The Bezier</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Custom/Custom Palette #1</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="WXI">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Background 200" Value="42,46,49" />
                <SvgColor Name="Background 100" Value="42,46,49" />
                <SvgColor Name="Background 0" Value="42,46,49" />
                <SvgColor Name="Background -100" Value="42,46,49" />
                <SvgColor Name="Background -200" Value="42,46,49" />
                <SvgColor Name="Foreground 100" Value="White" />
                <SvgColor Name="Foreground 50" Value="156,156,156" />
                <SvgColor Name="Foreground 25" Value="Silver" />
                <SvgColor Name=" " Value="" />
                <SvgColor Name="Edit Background 0" Value="255,255,255" />
                <SvgColor Name="Edit Background -50" Value="247,247,247" />
                <SvgColor Name="Edit Background -100" Value="240,240,240" />
                <SvgColor Name="Edit Background -200" Value="236,236,236" />
                <SvgColor Name="Edit Background -300" Value="42,46,49" />
                <SvgColor Name="Edit Foreground 100" Value="36,36,36" />
                <SvgColor Name="Edit Foreground 50" Value="118,118,118" />
                <SvgColor Name="Edit Foreground 25" Value="Silver" />
                <SvgColor Name=" " Value="" />
                <SvgColor Name="Line 100" Value="156,156,156" />
                <SvgColor Name="Line 50" Value="208,208,208" />
                <SvgColor Name="Line 25" Value="230,230,230" />
                <SvgColor Name="Line Gradient 100" Value="">
                  <linearGradient x1="0%" y1="0%" x2="100%" y2="0%" gradientUnits="objectBoundingBox" spreadMethod="pad">
                    <stop offset="0%" stop-color="#8D8D8D" />
                    <stop offset="10%" stop-color="#E6E6E6" />
                    <stop offset="100%" stop-color="#E6E6E6" />
                  </linearGradient>
                </SvgColor>
                <SvgColor Name="Line Gradient 50" Value="">
                  <linearGradient x1="0%" y1="0%" x2="100%" y2="0%" gradientUnits="objectBoundingBox" spreadMethod="pad">
                    <stop offset="0%" stop-color="#CCCCCC" />
                    <stop offset="10%" stop-color="#E6E6E6" />
                    <stop offset="100%" stop-color="#E6E6E6" />
                  </linearGradient>
                </SvgColor>
                <SvgColor Name="   " Value="" />
                <SvgColor Name="Primary Background 100" Value="42,46,49" />
                <SvgColor Name="Primary Background 0" Value="42,46,49" />
                <SvgColor Name="Primary Background -100" Value="42,46,49" />
                <SvgColor Name="Primary Background -200" Value="42,46,49" />
                <SvgColor Name="Primary Foreground 100" Value="White" />
                <SvgColor Name="Primary Foreground 25" Value="White" />
                <SvgColor Name="     " Value="" />
                <SvgColor Name="Secondary Background 0" Value="42,46,49" />
                <SvgColor Name="Secondary Background -100" Value="42,46,49" />
                <SvgColor Name="Secondary Background -200" Value="42,46,49" />
                <SvgColor Name="Secondary Foreground 100" Value="White" />
                <SvgColor Name="Secondary Foreground 25" Value="Silver" />
                <SvgColor Name="    " Value="" />
                <SvgColor Name="Red" Value="80,192,144" />
                <SvgColor Name="Green" Value="80,192,144" />
                <SvgColor Name="Blue" Value="80,192,144" />
                <SvgColor Name="Yellow" Value="255,140,0" />
                <SvgColor Name="Black" Value="74,84,89" />
                <SvgColor Name="Gray" Value="192,192,192" />
                <SvgColor Name="White" Value="255,255,255" />
              </SvgPalette>
            </Skin>
            <Skin Name="The Bezier">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Paint" Value="26,26,26" />
                <SvgColor Name="Paint High" Value="26,26,26" />
                <SvgColor Name="Paint Shadow" Value="26,26,26" />
                <SvgColor Name="Paint Deep Shadow" Value="26,26,26" />
                <SvgColor Name="Brush" Value="White" />
                <SvgColor Name="Brush Light" Value="74,74,74" />
                <SvgColor Name="Brush High" Value="White" />
                <SvgColor Name="Brush Major" Value="40,40,40" />
                <SvgColor Name="Brush Minor" Value="40,40,40" />
                <SvgColor Name="Accent Paint" Value="26,26,26" />
                <SvgColor Name="Accent Paint Light" Value="36,36,36" />
                <SvgColor Name="Accent Brush" Value="White" />
                <SvgColor Name="Accent Brush Light" Value="80,192,144" />
                <SvgColor Name="Key Paint" Value="26,26,26" />
                <SvgColor Name="Key Brush" Value="255,255,255" />
                <SvgColor Name="Key Brush Light" Value="255,255,255" />
                <SvgColor Name="Red" Value="80,192,144" />
                <SvgColor Name="Green" Value="80,192,144" />
                <SvgColor Name="Blue" Value="80,192,144" />
                <SvgColor Name="Yellow" Value="190,151,78" />
                <SvgColor Name="Black" Value="114,114,114" />
                <SvgColor Name="Gray" Value="175,173,175" />
                <SvgColor Name="White" Value="255,255,255" />
                <SvgColor Name="altRed" Value="80,192,144" />
                <SvgColor Name="altGreen" Value="80,192,144" />
                <SvgColor Name="altBlue" Value="80,192,144" />
                <SvgColor Name="altYellow" Value="190,151,78" />
                <SvgColor Name="altBlack" Value="114,114,114" />
                <SvgColor Name="altWhite" Value="255,255,255" />
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>